<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 通配符解决多文件引入问题,或使用，隔开 -->
    <!-- properties in -->
    <context:property-placeholder
            system-properties-mode="OVERRIDE" file-encoding="UTF-8"
            ignore-resource-not-found="true" ignore-unresolvable="true"
            location="classpath:trpc.properties"/>

    <import resource="common-spring.xml"/>

</beans>
